<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-12 py-4 card my-4 px-5">
		  	<h4>List of Uploaded Images</h4>
		  
		  	<table class="table table-responsive">
			  	<caption>List of Images Uploaded to MongoDB</caption>
			  	<thead>
			  		<tr>
			  			<th></th>
			  			<th>Image name</th>
			  			<th>Date Uploaded</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr *ngFor="let image of result?.images">
			  			<td><img src="{{image.location}}" class="img-fluid w-50"></td>
			  			<td>{{image.imageName}}</td>
			  			<td>{{image.dateAdded}}</td>
			  		</tr>
			  	</tbody>
		  	</table>
		</div>
	</div>
</div>