<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 py-4 card my-4 px-5">
      <h4>Welcome to Angular Image Upload</h4>
      <hr>
      <i>Upload image to begin</i><br>
      <form class="form" (submit)="upload()">
        <div class="form-group">
          <!-- File input for upload without using the plugin. -->
          <input id="photo" type="file" /> <br>
          <!-- button to trigger the file upload when submitted -->
        </div>

        <button type="submit" class="btn btn-success">Upload Image</button>
      </form>
     
      

    </div>
  </div>
</div>